################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NotificatUtility/.vs/NotificatUtility/v16
/NotificatUtility/NotificatUtility/bin/Debug/netstandard2.0
/NotificatUtility/NotificatUtility/obj
/.vs
/NotificatUtility/NotificatUtility/bin/Release
/NotificatUtility/.vs/NotificatUtility/DesignTimeBuild
